<!-- Title for the page -->
<title> {{ meta.title }} : {{ portal.name }} </title>

<!-- Meta information -->
{{ meta | default_meta }}

<!-- Responsive setting -->
{{ portal | default_responsive_settings }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/i4carl/Rifreshdesk-Portal-2025@e0246ec3277fde63e0fd491e9851b91ffea5c9b1/output_content/stylesheet/output.css">
