<!-- Title for the page -->
<title> {{ meta.title }} : {{ portal.name }} </title>

<!-- Meta information -->
{{ meta | default_meta }}

<!-- Responsive setting -->
{{ portal | default_responsive_settings }}

<link rel="stylesheet" href="https://raw.githubusercontent.com/i4carl/Rifreshdesk-Portal-2025/main/output_content/stylesheet/output.css">
