{{header}}

<main class="fw-main-wrapper mt-0 min-h-[100vh]" id="fw-main-content">
  {{ content_for_layout }}
</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.body.classList.add('bg-[linear-gradient(to_bottom_left,_#ffffff_0%,_#cccccc_100%)]');
  });
</script>

{{footer}}